# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
build
dist
dist-ssr
dev-dist
coverage
*.local
__hidden

# ignored for the moment
.firebase
.firebaserc
firebase.json
firebase.init.js

jsdoc
.jsdoc.json
cypress
cypress.config.js
.storybook
src/stories

# Editor directories and files
.vscode/*
!.vscode/extensions.json
# !.vscode/settings.json
# !.vscode/launch.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
